<div class="dayItem swiper-slide" data-day="{{day}}">
    <p class="dayItem__weekDay" data-day="{{day}}">{{dayString}}</p>
    <p class="dayItem__dayMonth" data-day="{{day}}">{{day}} {{month}}</p>
    <img src="https://openweathermap.org/img/w/{{icon}}.png" alt="" data-day="{{day}}" />
    <div class="min-max-5block" data-day="{{day}}">
        <div class="min5">
            <div>min</div>
            <span class="min-value">{{temMin}}</span>
            <sup class="sup">°</sup>
        </div>
        <div class="vertical-line"></div>
        <div class="max5">
            <div>max</div>
            <span class="max-value">{{temMax}}</span>
            <sup class="sup">°</sup>
        </div>
    </div>
    <a href="#" onClick="return false" class="dayItem__moreInfo" data-day="{{day}}">more info </a>
</div>